.notes {
    x-list-group {
        // display: inline-block;
        width: 11em;
        max-width: 11em;
        margin: 0 auto;
        text-align: center;
        font-size: 2em;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        x-list-item {
            li {
                a {
                    display: block;
                    padding: 1em 1.5em;
                    color: tomato;
                    &:hover {
                        background-color: tomato;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
