x-list-group {
  font-size: 2em;
  margin: 0 auto;
  max-width: 11em;
  text-align: center;
  width: 11em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li a {
    color: $tomato;
    display: block;
    padding: 1em 1.5em;
  }
}
