.notes {

    h1 {
        font-size: 36px;
        text-align: center;
        a {
            color: black;
            cursor: pointer;
            text-decoration: none;
        }
    }

    p {
        text-align: justify
    }

}
