/**
 * This file contains the styles for the .notes module
 * @group modules
 */
.notes {

    h1 {
        font-size: 50px;
        text-align: center;
        line-height: 108px;
        a {
            color: $color-black;
            cursor: pointer;
            text-decoration: none;
        }
    }

}
