/**
 *  Site Navigation
 *  @group modules
 **/
.notes-nav {
    background-color: $color-tomato;
    color: white;
    height: 100%;
    max-width: 250px;
    overflow-y: auto;
    padding-left: 10px;
    position: fixed;
    right: 0px;
    transform: translate(250px, 0);
    transition: $navdrawer-transition;
    width: 250px;
    z-index: 100;

    ul {
        padding: 0;
        list-style-type: none;
    }

    li,
    li>ul {
        padding-left: 10px;
        margin-bottom: 0px;
    }

    a {
        display: block;
        color: inherit;
        cursor: pointer;
        padding: 3px 0 3px 5px;
        text-decoration: none;
        &:hover {
            background-color: $color-tomato-dark;
        }
    }

    &.open {
        transform: translate(0px, 0);
    }

}
