$tomato: rgba(255, 99, 71, 0.98);
$dark-tomato: rgba(216, 84, 61, 0.98);

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background-color: $tomato;
    font-size: 18px;
    line-height: 40px;
    transition: all .3s linear;
    width: 100%;
    z-index: 100;

    ul {
      list-style-type: none;
      margin: 59.2px 0 0 176px;
      padding: 0;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }

    a {
        color: white;
        // Make <a> display block to take padding
        display: block;
        font-weight: 600;
        line-height: 50px;
        text-decoration: none;
        &.brand {
            font-size: 19;
            padding-left: 19px;
        }
        &:hover {
            background-color: $dark-tomato;
        }
    }

    &.open {
        transform: translate(-250px, 0);
    }

    .toggle {
        background-color: $tomato;
        border: 0px;
        color: white;
        cursor: pointer;
        display: block;
        font-size: 16px;
        line-height: 50px;
        max-height: 50px;
        padding: 0 20px;
        position: absolute;
        right: 0px;
        top: 0px;
        &:hover {
            background-color: $dark-tomato;
        }
        &:focus {
            outline: none;
        }
        &:active + ul {
          margin-left: 0px;
        }
    }

    @media all and (min-width: $bp-tablet) {
        ul {
          // Kill margin
          margin: 0;
        }
        li {
            // Align <li> items
            display: inline-block;
        }
        a {
            // Bump font-sizes
            font-size: 18px;
        }
        .brand {
            // Adjust padding on so .brand takes up same amout of
            // space as regular links
            padding: 13px 20px 10px;
            font-size: 20px;
        }
        // Hide <button>
        button {
            display: none;
        }
    }

}
