<section class="panel panel-default">
  <section class="panel-heading">
    <% if post.front_matter %>
      <h2 class="text-center"> <%= post.front_matter["title"] %> </h2>
    <% else %>
      <h2 class="text-center"> <%= post.name %> </h2>
    <% end %>
  </section>
  <section class="panel-body note">
    <%= post.html %>
  </section>
</div>