@import url(http://fonts.googleapis.com/css?family=Lato);

html,
body {
  background-color: $color-white;
  box-sizing: border-box;
  font-family: $font-default;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}

// apply a natural box layout model to all elements
*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  font-family: $font-default;
}

blockquote {
  background-color: $color-white-dark;
  display: block;
  line-height: 24px;
  margin: 0;
  padding: 18px;
  position: relative;
  width: 100%;
}

cite {
  bottom: 5px;
  position: absolute;
  right: 5px;
}

pre > .hljs {
  display: block;
  font-size: 1.1em;
}

.hljs {
  display: inline;
}

mark {
  background-color: $color-white-dark;
  margin: 0 .3em;
  padding: .1em .3em;
}

.hide {
  display: none;
}
