@import url(http://fonts.googleapis.com/css?family=Lato);

html,
body {
  background-color: $background;
  box-sizing: border-box;
  color: $font-color;
  font-family: $lato;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  h1 {
    letter-spacing: .35rem;
  }
}

// apply a natural box layout model to all elements
*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  font-family: $lato;
}

blockquote {
  background-color: $antique;
  display: block;
  line-height: 24px;
  margin: 0;
  padding: 18px;
  position: relative;
  width: 100%;
}

cite {
  bottom: 5px;
  position: absolute;
  right: 5px;
}

pre > .hljs {
  display: block;
  font-size: 1.1em;
}

.hljs {
  display: inline;
}

mark {
  background-color: $antique;
  margin: 0 .3em;
  padding: .1em .3em;
}

main {
  height: 100%;
  margin: 0 auto;
  padding-top: 65px;
  width: 95%;
}

@media all and (min-width: $bp-tablet) {
  main {
    padding-top: 75px;
    width: 90%;
  }
}

.hide {
  display: none;
}
