@import url(http://fonts.googleapis.com/css?family=Lato);

html,
body {
    box-sizing: border-box;
    font-family: $font-default;
    font-size: 18px;
    font-smoothing: antialiased;
    height: 100%;
    line-height: 20px;
    margin: 0; // Remove default margin.
    padding: 0;
    // Prevent iOS text size adjust after orientation change, without disabling
    // user zoom.
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
}

// apply a natural box layout model to all elements
*,
*:before,
*:after {
    // Enable touch scrolling on mobile
    -webkit-overflow-scrolling: touch;
    box-sizing: inherit;
}

button {
    font-family: $font-default;
}

.hide {
    display: none;
}
