// Font sizes
$font-size: 16px;
$font-small: 13px !default;
$font-base: 16px !default;
$font-medium: 20px !default;
$font-large: 26px !default;
$font-xl: 42px !default;
$font-xxl: 68px !default;
$font-xxxl: 110px !default;

// Font family
$font-default: 'lato', Helvetica, Arial, sans-serif !default;
$font-icon: 'icons' !default;
$font-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

// Line height
$line-height: ($font-size * 2) !default;

// Breakpoints
$bp-small: 480px !default;
$bp-medium: 620px !default;
$bp-large: 800px !default;
$bp-xlarge: 1600px !default;
$retina-resolution: 192dpi;

// Animation easings
$animation-easing: cubic-bezier(.455, .030, .515, .955) !default;

// Header
$header-background: $color-night-shade;
$header-font-color: $color-concrete;

// Nav Drawer
$navdrawer-background: $color-night-shade;
$navdrawer-font-color: $color-concrete;
$navdrawer-link-transition: background-color 0.2s ease-out;
$navdrawer-transition: transform 190ms ease-out;
$navdrawer-width: 280px !default;

// Header & Nav
$header-nav-max-width: 865px;
$header-nav-padding: 3%;
