@import url(http://fonts.googleapis.com/css?family=Lato);

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $background;
    color: $font-color;
    font-family: $lato;
    box-sizing: border-box;
    h1 {
        letter-spacing: 0.35rem;
    }
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
    box-sizing: inherit;
}

button {
    font-family: $lato;
}

blockquote {
    display: block;
    background-color: antiquewhite;
    padding: 18px;
    margin: 0;
    width: 100%;
    line-height: 24px;
    position: relative;
}

cite {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

pre {
    font-size: 1.1em;
}

mark {
    background-color: antiquewhite;
    padding: 0.1em 0.3em;
    margin: 0 0.3em;
}

main {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    padding-top: 65px;
}

@media all and (min-width: $bp-tablet) {
    main {
        padding-top: 75px;
        width: 90%;
    }
}
