@import "variables",
        "colors",
        "base";

@import "components/nav",
        "components/nav-side",
        "components/ui-view",
        "components/list-group";

.highlight {
    background-color: antiquewhite;
    padding: 0.1em 0.3em;
    margin: 0 0.3em;
}
