.navbar {
    background-color: $background;
}

.navbar-header {
    padding: 15px;
    width: 100%;
}

.navbar-brand {
    font-size: 2.5em;
    padding-left: 50px;
    letter-spacing: 2px;
    color: $font-color;
}

.icon-bar {
    background-color: black;
}
