$col-base-width: 8.3333333333%;
$column-names: ("s", "m", "l");

.col {
  position: relative;
  min-height: 1px;
  float: left;
  padding: 0 15px;
}

@mixin make-columns($name, $count, $width) {
  @while $count > 0 {
    .col.#{$name}-#{$count} {
      width: $width;
      margin-left: 0;
    }
    .col.#{$name}-pull-#{$count} {
      right: $width;
    }
    .col.#{$name}-push-#{$count} {
      left: $width;
    }
    .col.#{$name}-off-#{$count} {
      margin-left: $width;
    }
    $width: $width - $col-base-width;
    $count: $count - 1;
  }
}

// .s-* column styles take effect at any viewport or device size and are only
// overwritten if a .m-* or .l-* class is used after it
@include make-columns('s', 12, 100%);

// .m-* column styles should only take effect after the mobile breakpoint has
// been surpassed.
@media (min-width: $bp-small) {
  @include make-columns('m', 12, 100%);
}

// .l-* column styles should only take effect after the tablet breakpoint has
// been surpassed.
@media (min-width: $bp-medium) {
  @include make-columns('l', 12, 100%);
}
