.content {
  padding-top: 65px;
  padding-bottom: 65px;
}

.block-list {
  li {
    a {
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@import "bootstrap_overrides";
@import "highlight_overrides";
