@import url(http://fonts.googleapis.com/css?family=Lato);
html, body {
  background-color: white;
  box-sizing: border-box;
  color: black;
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }
  html h1, body h1 {
    letter-spacing: 0.35rem; }

*, *:before, *:after {
  box-sizing: inherit; }

button {
  font-family: "Lato", sans-serif; }

blockquote {
  background-color: #faedb7;
  display: block;
  line-height: 24px;
  margin: 0;
  padding: 18px;
  position: relative;
  width: 100%; }

cite {
  bottom: 5px;
  position: absolute;
  right: 5px; }

pre > .hljs {
  display: block;
  font-size: 1.1em; }

.hljs {
  display: inline; }

mark {
  background-color: #faedb7;
  margin: 0 0.3em;
  padding: 0.1em 0.3em; }

main {
  height: 100%;
  margin: 0 auto;
  padding-top: 65px;
  width: 95%; }

@media all and (min-width: 768px) {
  main {
    padding-top: 75px;
    width: 90%; }
 }

.wireframe {
  border: 1px solid #ccc; }

.hide {
  display: none; }

.notes h1 {
  font-size: 36px;
  text-align: center; }
  .notes h1 a {
    color: black;
    cursor: pointer;
    text-decoration: none; }
.notes p {
  text-align: justify; }
.notes > [ui-view] {
  height: 100%;
  width: 95%;
  margin: 0 auto; }
@media all and (min-width: 900px) {
  .notes nav.side {
    float: left;
    width: 30%; }

  .notes [ui-view] {
    float: right;
    width: 70%;
    padding-left: 20px; }
 }

header nav {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 11em; }
  header nav ul {
    margin: 3.7em 0 0 11em;
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
    background-color: rgba(255, 99, 71, 0.98); }
    header nav ul li a {
      display: block;
      padding: 16px 20px 10px;
      text-decoration: none;
      color: white;
      font-weight: 600;
      line-height: 1.2em; }
      header nav ul li a.brand {
        font-size: 1.2em;
        padding-left: 1.2em; }
      header nav ul li a:hover {
        background-color: rgba(216, 84, 61, 0.98); }
    header nav ul.open {
      margin-left: 0em; }
  header nav button {
    position: absolute;
    top: 0.5em;
    right: 0em;
    display: block;
    cursor: pointer;
    background-color: rgba(255, 99, 71, 0.98);
    color: white;
    max-height: 3em;
    padding: 14px 27px;
    border: 0em;
    font-size: 1em; }
    header nav button:hover {
      background-color: rgba(216, 84, 61, 0.98); }
    header nav button:focus {
      outline: none; }
  header nav button:active + ul {
    margin-left: 0em; }

@media all and (min-width: 768px) {
  header nav {
    position: fixed;
    max-height: 55px;
    overflow: hidden;
    width: 100%; }
    header nav ul {
      margin: 0; }
      header nav ul li {
        display: inline-block; }
        header nav ul li a {
          font-size: 18px; }
          header nav ul li a.brand {
            padding: 13px 20px 10px;
            font-size: 20px; }
    header nav button {
      display: none; }
 }

x-list-group {
  font-size: 2em;
  margin: 0 auto;
  max-width: 11em;
  text-align: center;
  width: 11em; }
  x-list-group ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  x-list-group li a {
    color: rgba(255, 99, 71, 0.98);
    display: block;
    padding: 1em 1.5em; }

[ui-view] {
  transition: all 1s ease-in-out; }
  [ui-view].ng-enter, [ui-view].ng-leave {
    transition: all 1.5s ease-in-out; }
  [ui-view].ng-leave {
    opacity: 1; }
  [ui-view].ng-enter {
    opacity: 0; }
  [ui-view].ng-enter-active {
    opacity: 1; }
  [ui-view].ng-leave-active {
    opacity: 0; }

x-list-group {
  font-size: 2em;
  margin: 0 auto;
  max-width: 11em;
  text-align: center;
  width: 11em; }
  x-list-group ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  x-list-group li a {
    color: rgba(255, 99, 71, 0.98);
    display: block;
    padding: 1em 1.5em; }
