main {
    position: fixed;
    top: 50px;
    padding-bottom: 108px !important;
    display: block;
    transition: $navdrawer-transition;
    height: 100%;
    width: 100%;
    overflow: auto;

    &.open {
        transform: translate(-250px, 0);
    }

    @media all and (min-width: $bp-medium) {
        padding: 75px 0;
        width: 90%;
    }
}
