/**
 * <pre>
 * @group elements
 */
pre {
    font-size: $font-size;

    .hljs {
        display: block;
        font-size: inherit;
    }

    @media screen and (max-width: $bp-small) {
        font-size: $font-size - 4 !important;
    }
}
