/**
 * This file contains the styles for HTML text content elements:
 * blockquote, cite, code, mark, p, pre
 */

p {
    line-height: $font-size * 2;
    text-align: justify;
}

blockquote {
    background-color: $color-white-dark;
    display: block;
    line-height: 24px;
    margin: 0;
    padding: 18px;
    position: relative;
    width: 100%;
}

cite {
    bottom: 5px;
    position: absolute;
    right: 5px;
}

.hljs {
    display: inline;
}

mark {
    background-color: $color-white-dark;
    margin: 0 .3em;
    padding: .1em .3em;
}
