<section class="panel panel-default">
  <section class="panel-heading">
    <h2 class="text-center"> <%= post.name.capitalize %> </h2>
  </section>
  <section class="panel-body">
    <%= post.html %>
  </section>
</div>