<section class="panel panel-default ">
  <section class="panel-heading text-center">
    <h3 class="">Categories</h3>
  </section>

  <ul class="list-group">
    <% categories.each do |category| %>
        <% if !category.is_subdirectory %>
          <li class="list-group-item">
            <a href="/notes/<%= category.name %>">
              <!-- Badge for number category posts -->
              <span class="badge pull-right">
                <%= category.posts.length %>
              </span>
              <%= category.name %>
            </a>
          </li>
        <% end %>
    <% end %>
  </ul>
</section>