<section class="panel panel-default">
  <section class="panel-heading">
    <h1 class="text-center">
    <!-- <%= name.capitalize %> -->
    </h1>
  </section>
  <section class="panel-body">
    <%= file %>
  </section>
</section>