<!DOCTYPE html>
<html>
<head>
  <title><%= site.title %></title>
  <!-- CSS -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
  <div class="container-fluid">
    <%= erb :navbar, locals: { site: site } %>

    <%= erb :categories, locals: { categories: site.categories.sort! { |a,b| a.name.downcase <=> b.name.downcase } } %>

    <section class="content col-md-9">
      <%= yield %>
    </section>

    <div id="footer" class="container">
      <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="navbar-inner navbar-content-center">
              <h4 class="text-muted text-center credit">
                Courtesy of <a href="http://www.github.com/theponti">@theponti</a>
              </h4>
          </div>
      </nav>
    </div>
      
  </div>
  
  <!-- Javascript -->
  <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>

</html>